.card {
  width: 100%;
  max-width: 272px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.price {
  display: flex;
}

.name {
  min-height: 48px;
  text-align: center;
}